# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: https://utf7.github.io
date_format: "ordinal"
title: utf7
subtitle: "做好人,做好事"
description: "utf7 的个人博客/欢迎关注公众号yechaotalk"
keywords: utf7, seven,HBase
favicon: /favicon.ico
timezone: Asia/Shanghai
encoding: "utf-8"
source_code: https://github.com/utf7/utf7.github.io
side_bar_repo_limit: 5
repository: utf7/utf7.github.io

# ---------------- #
#      Author      #
# ---------------- #
author: utf7/Yechao Chen
organization: utf7, Inc.
organization_url: https://utf7.github.io
location: Shanghai, China
email: chenyechao@gmail.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 8
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
plugins:
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/
        
repository: utf7/utf7.github.io
github: [metadata]


# ---------------- #
#      Socials     #
# ---------------- #
github_username: utf7
weibo_username: chenyechao

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk, utterances
comments_provider: gitalk

gitalk:
    owner: utf7
    repo: blog-comments
    oauth:
        clientID: ffe93bda5dc3c848dd72
        clientSecret: 5983da1d06a225afdf2373d7dd2129cdcb6e43de

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-80669434-1

# ---------------- #
#      Datas       #
# ---------------- #
skill_programing_keywords: [Java, Design Patterns]
skill_big_data_keywords: [HBase,Hadoop,Hive,Spark,Presto,MySQL]
