# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: https://github.com/utf7/utf7.github.io
date_format: "ordinal"
title: utf7
subtitle: "做好人，做好事"
description: "Seven的个人博客"
keywords: utf7, seven
favicon: /favicon.ico
timezone: Asia/Shanghai
encoding: "utf-8"
source_code: https://github.com/utf7/utf7.github.io
side_bar_repo_limit: 5

# ---------------- #
#      Author      #
# ---------------- #
author: utf7
organization: utf7, Inc.
organization_url: http://utf7.github.io
location: Suzhou, China
email: chenyechao@gmail.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 8
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

# ---------------- #
#      Socials     #
# ---------------- #
github_username: utf7
weibo_username: chenyechao

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, duoshuo
comments_provider: disqus
# !!!重要!!! 请修改下面两个用户名为你自己申请的
# !!!Important!!! Please modify usernames below to yours
duoshuo_username: utf7
disqus_username: utf7
disqus_shortname: http-utf7-github-io
# 在使用 disqus 的时候可点击显示多说评论框
lazy_load_duoshuo: false

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-80669434-1

# ---------------- #
#      Datas       #
# ---------------- #
skill_programing_keywords: [Java, Java EE, Design Patterns]
skill_big_data_keywords: [Hadoop,Yarn,Hive,Spark,Presto,HBase,MySQL]