{% if page.comments != false %}
  {% case site.comments_provider %}
    {% when 'utterances' %}
      {% if site.utterances.repo %}
      <script src="https://utteranc.es/client.js"
              repo="{{ site.utterances.repo }}"
              issue-term="{{ site.utterances.issue_term | default: 'pathname' }}"
              theme="{{ site.utterances.theme | default: 'github-light' }}"
              crossorigin="anonymous"
              async>
      </script>
      {% endif %}
    {% when 'giscus' %}
      {% if site.giscus.repo %}
      <script src="https://giscus.app/client.js"
              data-repo="{{ site.giscus.repo }}"
              data-repo-id="{{ site.giscus.repo_id }}"
              data-category="{{ site.giscus.category }}"
              data-category-id="{{ site.giscus.category_id }}"
              data-mapping="{{ site.giscus.mapping | default: 'pathname' }}"
              data-strict="0"
              data-reactions-enabled="1"
              data-emit-metadata="0"
              data-input-position="top"
              data-theme="{{ site.giscus.theme | default: 'light' }}"
              data-lang="zh-CN"
              crossorigin="anonymous"
              async>
      </script>
      {% endif %}
    {% when 'disqus' %}
      {% if site.disqus_username %}
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
            this.page.url = '{{ site.url }}{{ page.url }}';
            this.page.identifier = '{{ page.url }}';
            this.page.title = '{{ page.title }}';
          };
          (function() {
            var d = document, s = d.createElement('script');
            s.src = '//{{ site.disqus_username }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {% endif %}
  {% endcase %}
{% endif %}
