				<div class="violet-about">
                    <h4 class="v-section-tit">About utf7</h4>
                    <article class="violet-about-det">
                        <p id="J_myFace" class="v-my-face"><img src="/images/face/iampizn-1.png" alt="Hello utf7!" width="146px" height="100px" id="J_myFace_img" /><span>Face to Face!</span></p>
                        <p>目前在苏州，<strong>码农一枚</strong>>。</p>
                    </article>
                    <p class="v-more-right">
                        <a href="http://utf7.github.io/contact.html"><span>&#10149;</span>More</a>
                    </p>
                </div><!-- //violet-about -->